// Style files imports
@import "pages/main-page.css";
@import "components/components.css";
@import "thread-page__styles.css";


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Rubik:wght@300..900&display=swap');


// Basic initialization
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body{
  background-color: #000;
}

.container{
  max-width: 1200px;
  margin: auto;
}

:root{
  --header-height: 47px;

  .hidden{
    display: none;
  }

  a{
    text-decoration: none;
    display: inline-block;
  }

  ul,ol{
    list-style: none;
  }

  p,h1,h2,h3,h4,h5,h6,label,a,li,span{
    font-family: 'Manrope', sans-serif;

    &::selection{
      background-color: #F7C005;
    }
  }
}